<section class="answers">
    <div class="container">
        <div class="answers-pre-title">
            <div class="answers-pre-title-text ">
                <div class="pre-title"><span>Результат прохождения теста</span>
                    <img src="/images/small-arrow-gray.png" alt="Стрелка"></div>
            </div>
            <div class="answers-pre-title-test" id="test-name">
            </div>
        </div>

        <h1 class="answers-title common-title"><span>Правильные ответы</span> к тесту</h1>
        <div class="answers-user">
            Тест выполнил <span id="user">Роман Чернов, roman@itlogia.ru</span>
        </div>

        <div id="answers-text">
        </div>

        <div class="back-result">
            <a class="link" id="link-result" href="/#/result">Обратно к моему результату теста
                <img src="/images/small-arrow.png" alt="Стрелка"></a>
        </div>
    </div>
</section>



